div{
    height: 1000px;
    width: 100px;
    background-color: rgba(255, 0, 0, 0.4);
    display: inline-block;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(1, 2, 3, 4);
}
body{
    height: 1200px;
    width: 1500px;
    border: 2px solid black;
}
#d1:hover{
    width: 1100px;
    background-color: red;
}
#d2:hover{
    width: 1100px;
    background-color: red;
}
#d3:hover{
    width: 1100px;
    background-color: red;
}
#d4:hover{
    width: 1100px;
    background-color: red;
}
h1{
    background-color:aqua;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-property: all;
    transition-duration: 2s;
    display: flex;
    justify-content: center;
}

h1:hover{
    font-size: 80px;
    color: cyan;
    background-color: black;
}



