*{
    padding: 0;
    margin: 0;
    color: white;
}

h1{
    text-align: center;
    font-family: verdana;
    text-decoration: underline;
    color: red;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

#logo{
    text-decoration: none;
    color: #F08804;
    font-size: 25px;
}

a{
    margin-right: 330px;
    text-decoration: none;
}

#butt{
    background-color: #f08804;
}

#input{
    color: black;
}

/* Ancor Tags for RGBA*/
#one1{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 255, 0, 0.1);
}

#two2{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 255, 0, 0.2);
}

#three3{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 255, 0, 0.3);
}

#four4{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 255, 0, 0.4);
}

#five5{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 255, 0, 0.5);
}

#six{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 255, 0, 0.6);
}

#seven{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 255, 0, 0.7);
}

#eight{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 255, 0, 0.8);
}

#nine{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 255, 0, 0.9);
}

#ten{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 255, 0, 1);
}